<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <h1>Demo App</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        It's not human nature to be great. It's human nature to survive, to be average and do what you have to do to get by. That is normal.
        When you have something good happen, it's the special people that can stay focused and keep paying attention to detail, working to get better and not being satisfied with what they have accomplished.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="/profiles">Player Profiles</a>
        <a class="btn btn-success btn-lg" href="/profiles/create">Create Profile</a>
      </p>
    </div>
  </div>
</section>
