<section>
  <div class="page-header">
    <h1>{{vm.profile._id ? 'Edit Profile' : 'New Profile'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.profileForm" class="form-horizontal" ng-submit="vm.save(vm.form.profileForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Player Name</label>
          <input name="name" type="text" ng-model="vm.profile.name" id="name" class="form-control" placeholder="" required>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="pnumber">Player Number</label>
          <input name="pnumber" type="number" ng-model="vm.profile.pnumber" id="pnumber" class="form-control" placeholder="" required>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="team">Team</label>
          <select name="team" ng-model="vm.profile.team" id="team" class="form-control" required>
            <option value=""> --- Please Select --- </option>
            <option value="Adelaide Crows">Adelaide Crows</option>
            <option value="Brisbane Lions">Brisbane Lions</option>
            <option value="Carlton">Carlton</option>
            <option value="Collingwood">Collingwood</option>
            <option value="Fremantle">Fremantle</option>
            <option value="GWS Giants">GWS Giants</option>
            <option value="Melbourne">Melbourne</option>
            <option value="Western Bulldogs">Western Bulldogs</option>
          </select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="body">About</label>
          <textarea name="body" type="text" ng-model="vm.profile.body" id="body" class="form-control" placeholder="" required></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.profile._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
