<section>
  <div class="page-header">
    <h2><span ng-bind="vm.profile.name"></span> <small>#{{vm.profile.pnumber}}</small></h2>
    <h4>{{vm.profile.team}}</h4>
    <div>{{vm.profile.body}}</div>
  </div>
  <div class="pull-right"
       ng-show="vm.profile.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="profiles.edit({ profileId: vm.profile._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.profile.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.profile.user"
            ng-bind="vm.profile.user.displayName"></span>
      <span ng-if="!vm.profile.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.profile.content"></p>
</section>
